* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red !important; */
}

@font-face {
    font-family: inter;
    src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
    --near-white: hsl(230, 100%, 99%);
    --deep-blue : hsl(227, 35%, 25%);
    --pale-blue : hsl(224, 65%, 95%);
    --light-red : hsl(14, 92%, 95%);
    --regular-red : hsl(15, 100%, 70%);
    --soft-cyan : hsl(174, 77%, 80%);
    --strong-cyan : hsl(174, 86%, 45%);
    --empty-slider : hsl(224, 65%, 95%);

    --regular-weight : 400;
    --heavy-weight : 600;

    --shadow : rgb(199, 199, 199) -2px 2px 7px;
}

body {
    font: var(--regular-weight) 1rem inter;
    min-height: 100vh;
    background: linear-gradient(var(--pale-blue) 50%, var(--near-white) 50%);
    color: var(--deep-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

p {
    font-size: 0.9rem;
}

ul {
    margin-left: 1rem;
}


/* Special Classes */
.btn {
    cursor: pointer;
    font: inherit;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 25px;
    background: var(--deep-blue);
    color: var(--near-white);
    border: none;
}

.btn:is(:hover, :focus) {
    background-color: hsl(227, 77%, 12%);
}

.enlarge {
    font-size: 2rem;
    font-weight: var(--heavy-weight);
}

/* Discount text underneath the slider */
.discount {
    font-size: 0.7rem;
    font-weight: var(--heavy-weight);
    background-color: var(--light-red);
    color: var(--regular-red);
    border-radius: 20px;
    padding: 0.5em 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}



/* Header styling */
.header {
    text-align: center;
    line-height: 2rem;
}


/* Main content section styling */
main {
    background: var(--near-white);
    padding: 2rem;
    border-radius: 10px;
    width: min(80%, 700px);
    box-shadow: var(--shadow);
}


/* Billing Section Container */
.billing {
    text-align: center;
    margin: 2rem 0;
    position: relative;
}


/* Billing details */
.billing__details {
    padding: 2rem;
    font-weight: var(--regular-weight);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.billing__details > p {
    margin-bottom: 1rem;
}


/* Slider Styling */
.billing__slider {
    color: white;
    padding-bottom: 2rem;
}

#slider {
    width: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    height: 5px;
    border-radius: 30px;
    background: linear-gradient(90deg, var(--strong-cyan) 25%, var(--empty-slider) 25%);
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background-color: var(--strong-cyan);
    border-radius: 50%;
}

#slider::-webkit-slider-thumb:active {
    filter: contrast(50%);
}



/* Toggle Styling */
.billing__toggle {
    display: flex;
    justify-content: center;
}

.billing__toggle > p {
    width: fit-content;
}

.toggle {
    position: absolute;
    left: -1000vw;
    top: -1000vh;
}

.toggle + label {
    cursor: pointer;
    padding-left: 1em;
    width: fit-content;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.toggle + label::before {
    content: "";
    /* position: absolute;
    top: 0;
    left: 0; */
    height: 1.5em;
    width: 3em;
    background-color: var(--pale-blue);
    border-radius: 15px;
}

.toggle + label::after {
    content: "";
    z-index: 1;
    height: 1.0em;
    width: 1.0em;
    background-color: var(--near-white);
    border-radius: 50%;
    transform: translateX(-270%);
}

.toggle:checked + label::before {
    content: "";
    height: 1.5em;
    width: 3em;
    background-color: var(--strong-cyan);
    border-radius: 15px;
}

.toggle:checked + label::after {
    content: "";
    height: 1.0em;
    width: 1.0em;
    background-color: var(--near-white);
    border-radius: 50%;
    transform: translateX(-120%);
}


.toggle:checked + label::before:is(:focus, :focus-within) {
    outline: 1px solid black;
}




/* Call To Action Srction Styling */
.cta {
    display: flex;
    flex-flow: row nowrap;
}

.cta div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* MOBILE VERSION */
@media screen and (max-width : 500px) {
    .cta {
        display: block;
    }
    .cta div {
        width: 100%;
        margin-top: 1.5rem;
    }
    .billing__details {
        display: block;
    }
}